* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlue: #2c7be5;
$mainOrange: #fa7921;
$mainGrey: #edf2f9;
$mainBlack: #515b68;

html,
body {
  font-family: "Roboto", sans-serif;
  background: $mainGrey !important;
  color: $mainBlack;
  // min-height: 100% !important;
  height: 100%;
  width: 100%;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
}
